<!-- Create a template to show the details
    of the project and a table of its tasks-->

<!DOCTYPE html>
<html lang="en">

    <!-- the "Is completed" column shows "yes" and "no"
     for the task is_completed status. -->

    <head>
        <title>Tracker</title>
    </head>

    <body>
        <main>
            <div>
                <h1>{{ project_name }}</h1>
                <p><!-- project description goes here --> </p>
                <h2>Tasks</h2>
                <!-- if django:tasks, then show table -->
                <!-- table has 5 columns: name assignee start date
                due date and is completed with rows for each task -->
                <!-- otherwise -->
                <!-- p tag with "Project has no tasks" -->
            </div>
        </main>
    </body>


</html>